
/* aside of images on blog topics */

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: 300px;
    grid-template-rows: repeat(5, 210px);
    grid-template-areas: "1"
                        "2"
                        "3"
                        "4"
                        "5";
}

#boxpic1 {
    grid-area: 1;
}

#boxpic2 {
    grid-area: 2;
}

#boxpic3 {
    grid-area: 3;
}

#boxpic4 {
    grid-area: 4;
}

#boxpic5 {
    grid-area: 5;
}

#six {
    background-image: url("../images/beach.jpeg");  
}

#seven {
    background-image: url("../images/books.jpeg");
}

#eight {
    background-image: url("../images/garden.jpeg");
}

#nine {
    background-image: url("../images/camera.jpeg");
}

#ten {
    background-image: url("../images/genealogy.jpeg");
}


