
/* aside of images on blog topics */

.container {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(10, 100px);
    grid-template-areas: "1"
                        "2"
                        "3"
                        "4"
                        "5"
                        "6"
                        "7"
                        "8"
                        "9"
                        "10"; 
}

#one {
    grid-area: 2;  
}

#two {
    grid-area: 4;
}

#three {
    grid-area: 6;
}

#four {
    grid-area: 8;
}

#five {
    grid-area: 10;
}

#six {
    grid-area: 1;
    background-image: url("../images/beach.jpeg");
   
}

#seven {
    grid-area: 3;
    background-image: url("../images/books.jpeg");
}

#eight {
    grid-area: 5;
    background-image: url("../images/garden.jpeg");
}

#nine {
    grid-area: 7;
    background-image: url("../images/camera.jpeg");
}

#ten {
    grid-area: 9;
    background-image: url("../images/genealogy.jpeg");
}


