
/* colors, text style, font family, and padding */

body {
    background-color: skyblue;
}

h1 {
    font-size: 50px;
    width: 250px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: auto;
    margin-top: 25px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: darkslategrey solid 10px;
    border-top: darkslategrey solid 10px;
}

h2 {
    text-align: start;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    text-align: left;
    width: 300px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.author {
    text-align: left;
}

.title {
    text-align: center;
    color: darkslategrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    font-size: 24px;
}

label {
    text-align: left;
    text-decoration: underline;
}

.setblog {
    border-bottom: beige solid 5px;
}

.blog {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
}

.quote {
    text-align: justify;
}
 
.box {
    background-color: lightblue;
    color: darkblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
    border-radius: 50px;
}

.pic {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: black solid 5px;
    border-radius: 10px;
    height: 125px;
}

.caption {
    color: black;
    font-weight: 900;
    font-size: 15px;
}

#credits {
    text-decoration: underline;
}
